BasedOnStyle: LLVM
IndentWidth: 4
NamespaceIndentation: All
ColumnLimit: 100
BreakBeforeBraces: Allman
AlignConsecutiveDeclarations: true
IncludeBlocks: Merge # 만약 카테고리 별로 띄우고싶으면 Regroup으로 변경
SortIncludes: false
PointerAlignment: Left