---
# 기본 기반 스타일
BasedOnStyle: LLVM

# 줄바꿈 방지 설정
ColumnLimit: 0

# 들여쓰기 설정
IndentWidth: 4
TabWidth: 4
UseTab: Never

# 중괄호 설정 (Allman 스타일)
BreakBeforeBraces: Allman
Cpp11BracedListStyle: false # 중괄호 앞뒤로 한 칸 띄우기 ex. { 1, 2, 3 }

# 들여쓰기 세부 제어
AllowShortFunctionsOnASingleLine: Inline # Getter/Setter를 한 줄로 허용
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# 빈 줄 및 공백 설정
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false

# 포인터/레퍼런스 정렬 (타입 쪽에 붙임)
PointerAlignment: Left

# 정렬 관련 (불편함을 유발하는 과도한 정렬 해제)
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignTrailingComments: true

# 인클루드 설정 (요청 사항)
SortIncludes: false
IncludeBlocks: Preserve # 원래 작성한 순서와 그룹을 최대한 보존

# 언리얼 스타일 매크로 인식 (들여쓰기 방지)
StatementMacros:
  - DECLARE_CLASS
  - DEFINE_CLASS
  - REGISTER_FACTORY
  - GENERATED_BODY

# 접근 제어자(public, private 등) 들여쓰기
AccessModifierOffset: -4

# 줄바꿈 및 길이 제어 설정
PackConstructorInitializers: BinPack
BinPackParameters: true
BinPackArguments: true
AllowAllParametersOfDeclarationOnNextLine: false

# 기타 가독성 설정
ReferenceAlignment: Left
Standard: Latest